[submodule "tek2/B-NWP-400-myftp"]
	path = tek2/B-NWP-400-myftp
	url = git@github.com:Thibb1/B-NWP-400-myftp.git
[submodule "tek2/B-YEP-400-indiestudio"]
	path = tek2/B-YEP-400-indiestudio
	url = git@github.com:Thibb1/B-YEP-400-indiestudio.git
[submodule "tek2/B-NWP-400-myteams"]
	path = tek2/B-NWP-400-myteams
	url = git@github.com:Thibb1/B-NWP-400-myteams.git
[submodule "tek2/B-CCP-400-theplazza"]
	path = tek2/B-CCP-400-theplazza
	url = git@github.com:Thibb1/B-CCP-400-theplazza.git
[submodule "tek2/B-CCP-400-panoramix"]
	path = tek2/B-CCP-400-panoramix
	url = git@github.com:Thibb1/B-CCP-400-panoramix.git
[submodule "tek2/B-FUN-400-wolfram"]
	path = tek2/B-FUN-400-wolfram
	url = git@github.com:Thibb1/B-FUN-400-wolfram.git
[submodule "tek2/B-FUN-400-compressor"]
	path = tek2/B-FUN-400-compressor
	url = git@github.com:Thibb1/B-FUN-400-compressor.git
[submodule "tek2/B-OOP-400-tekspice"]
	path = tek2/B-OOP-400-tekspice
	url = git@github.com:Thibb1/B-OOP-400-tekspice.git
[submodule "tek2/B-OOP-400-arcade"]
	path = tek2/B-OOP-400-arcade
	url = git@github.com:Thibb1/B-OOP-400-arcade.git
[submodule "tek2/B-PSU-400-nmobjdump"]
	path = tek2/B-PSU-400-nmobjdump
	url = git@github.com:Thibb1/B-PSU-400-nmobjdump.git
[submodule "tek2/B-PSU-400-malloc"]
	path = tek2/B-PSU-400-malloc
	url = git@github.com:Thibb1/B-PSU-400-malloc.git
[submodule "tek3/B-CPP-500-rtype"]
    path = tek3/B-CPP-500-rtype
    url = git@github.com:Thibb1/B-CPP-500-rtype.git
